body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

nav {
    text-align: center;
    background-color: rgb(68, 68, 68);
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

h2 {
    font-size: 20px;
    margin-left: .8em;
}

.container{
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
}

#sign-up {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 0;
    
}

hr {
    margin: 1em;
    margin-top: 0;

}

.line-break {
    border: solid 2px;
    margin-bottom: 3px;
}

.line-break2 {
    border: solid 1px;
    
}

p {
    margin-top: 5px;;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 1em;
    margin-left: 1em;
}

input[type="text"],
select,
textarea {
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 258px;
    border-radius: 4px;;
    background-color: #eeeeee;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-left: 1em;

    /* margin-right: .5em; */
    
}

#zip {
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 40%;
    border-radius: 4px;;
    background-color: #eeeeee;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-left: 1em;
}

.move-hr {
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.move-hr hr {
    border: solid 1px;
}

form p {
    margin-left: 1.4em;
}

.html {
    display: inline;
    margin-left: 10px;
    
}

.align-buttons {
    margin-left: 23px;

}

.align-buttons input {
    
    margin-bottom: 1em;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#newsletter {
    margin-left: 0;
    
}

::placeholder {
    
    padding-left: 12.5rem;
    font-style: italic;
    color: rgb(198, 198, 198);
    font-size: 13px;


}

fieldset p {
    margin-bottom: 1rem;
}

#new {
    margin-top: 3px;
}

header p {
    line-height: 1.2;
    color: rgb(181, 181, 181);
}

.news-color {
    color: rgb(124, 124, 124);
    
}

input #html1 {
    
    margin-bottom: 1em;

}

#other-topics {
    margin-bottom: 15px;
}

button {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(9, 186, 189);
    border-radius: 5px;
    font-weight: 500;
}

.sign-up {
    
    margin: 20px 15px;
    
}

footer {
    text-align: center;
    font-style: italic;
    color: rgb(128, 127, 127);
    font-size: 15px;
    margin-bottom: 60px;
}

select:invalid {
    color: rgb(181, 80, 80);
}
